/**
* Nav
*/

.navbar{
    text-transform: uppercase;
}

    .navbar .is-dark {
        background: black;
    }

/**
*Footer
*/

.footer a {
    margin-bottom: 15px;
    display: inline-block;
    color: black;
}

/**
* Bulma overrides
*/

.input, .button {
    border-radius: 0;
}

/**
* products list items
*/

.product-list-item .box .price{
    color: #888;
}
